.productList-wrap {
  
}

.dashboard-table-wrap {
  background-color: $third;
  padding: 3rem 3rem;

  table {
    color: $secondary;
    margin: 0;
    
    td {
      vertical-align: middle;
    }

  }

  th {
    font-weight: normal;
    color: $primary;
    text-align: center;
  }
}