#cart-items {

  .product-preview {
    height: 120px;
    width: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    margin: 0 auto;
  }

  td {
    text-align: center;
  }

}

.item-wrap {
  th {
    text-align: center;
  }
}
