.cart-wrap {
  background-color: $secondary;
  padding: 2rem;

  @media screen and (max-width: 767px) {
    padding: 1.5rem 1rem 1.5rem 1rem;
  }

  .shopping-step {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    .step {
      display: flex;
      flex: 1;
      margin-left: 10px;
      margin-right: 10px;
      padding: 1rem;
      background-color: $third;
      color: $secondary;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 767px) {
        margin: 0 0 7px 0;
        padding: 0.8rem;
      }
    }

    h5 {
      margin: 0;

      @media screen and (max-width: 767px) {
        font-size: $font-size-base;
      }
    }

    .active-step {
      background-color: $primary;
      color: $third;
    }
  }




}
