#frontSlideProducts {

  .carousel-indicators {
    margin-bottom: 0.5rem;
  }

  .carousel-inner {
    height: 100% !important;
  }
  
  .carousel-item {
    height: 100%;
  }
  
  .rwdimg {
    display: block;
    width: 100%;
    min-height: 25vh;
    padding-top: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
}

