.item-wrap {
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (max-width: 767px) {
    padding: 0;
  }
}

.cart-items {

  .qty-input {
    button {
      padding: 0.3rem 0.7rem;
      font-size: 0.75rem;
    }
  }

  .product-preview {
    height: 120px;
    width: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    margin: 0 auto;
  }

  td {
    text-align: center;
  }

}

.item-wrap {
  th {
    text-align: center;
  }
}
