.no-product-found {
  background-color: white;
}

.link-block {
  display: block;

  .card-body {
    height: 155px;
  }

  .card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  .card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

.product-hover {
  transform: scale(1.00);
  transition: .2s;

  &:hover {
    transform: scale(1.01);
    transition: .2s;
  }
}

.card-wrap {
  @media screen and (max-width: 575px) {
    padding-left: 0;
    padding-right: 0;
  }
}


