.hero-col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  position: relative;
  width: 100%;
  padding: 0 3px;
}

#heroProducts {
  .card-header {
    position: absolute;
    padding: 1.5rem 0 30px;
    text-align: center;
    width: 100%;
  }

  .card-text {
    position: absolute;
  }

}
