.navbar {
  background-color: #181818;

  .btn {
    border-radius: 0;
  }

  .navbar-logo {
    margin-left: 1rem;
    margin-right: 2rem;
    padding: 0.4rem 0;

    span {
      font-size: $font-size-xl;
      color: $secondary;
    }
  }

}
