.footer {
  background-color:$third;
  color: darken($color: $secondary, $amount: 10);
  min-height: calc(100vh - 450px);
  padding-top: 2rem;
  padding-bottom: 2rem;

  .footer-link {
    padding-top: 4px;
    padding-bottom: 4px;

    @media screen and (max-width: 575px) {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  a {
    color: darken($color: $secondary, $amount: 10);
    transition: ease-out;
    transition-duration: 0.2s;
    font-size: $font-size-base;

    &:hover {
      color: lighten($color: $secondary, $amount: 20);
      transition: ease-out;
      transition-duration: 0.2s;
    }
  }
}