.footer {
  background-color:$third;
  color: darken($color: $secondary, $amount: 10);
  min-height: calc(100vh - 450px);

  .footer-link {
    padding-top: 4px;
    padding-bottom: 4px;

    @media screen and (max-width: 575px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  a {
    color: darken($color: $secondary, $amount: 10);
  }
}